
  <div class="ContentFrame w-full h-screen p-6 flex-col justify-start items-center gap-2.5 inline-flex">
    <div class="TopBar w-4/5 p-2 flex-col justify-start items-start gap-2.5 flex">
      <div class="Input w-full h-20 flex-col justify-center items-start gap-2 flex">
        <div class="Label px-2 justify-start items-center gap-2.5 inline-flex">
          <div class="Label text-zinc-600 text-base font-normal">Search Item</div>
        </div>
        <form action="/" class = "InputFields w-full h-20">
        <input class="InputField w-full h-20 self-stretch px-4 py-2 bg-white rounded-xl shadow justify-start items-center gap-2 inline-flex" id = "searchInput" type="text" placeholder="Apple Watch, Samsung S21, Macbook Pro, ..." type="text" name="search" value="{{keyword}}" />
        <button type="submit" class='btn hidden'></button>
      </form>
      </div>
    </div>
    <div class="ContentArea self-stretch h-screen py-2 flex-col justify-start items-start">
      <ul class="Row01 self-stretch justify-center items-center gap-4 inline-flex flex-wrap">
        {{#each productDatalisttemp}}
          <li class="ItemCard p-4 rounded-3xl flex-col justify-center items-start gap-2 inline-flex">
            <a href="{{ productLink }}">
              <div class="ProductImage w-48 p-4 bg-white rounded-3xl justify-center items-center inline-flex">
                <div class="ProductImage w-40 h-48 flex-col justify-center items-center inline-flex">
                  <img class="Image w-40 h-48" src="{{ imageUrl }}" />
                </div>
              </div>
            </a>
            <div class="Content self-stretch h-32 p-2 flex-col justify-center items-start gap-2 flex">
              <div class="ItemName text-stone-900 text-xl font-medium">{{ productName }}</div>
              <div class="SmallDescription text-zinc-600 text-base font-normal">{{ productDescription }}</div>
              <div class="Action self-stretch p-2 justify-between items-center gap-2.5 inline-flex">
                <div class="999 text-stone-900 text-xl font-medium">{{ productPrice }}</div>
                <div class="Button p-2 bg-stone-900 rounded-lg justify-center items-center gap-2 flex" id="plus" value={{productindex}}>
                  <div class="Icon w-6 h-6 relative">
                    <div class="Center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus text-white w-6 h-6" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>                                                                                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <script src="\js\index.js"></script>